.features {
   padding: 116px 0;
}

.features-content {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 1fr);
   column-gap: 31px;
   row-gap: 88px;
}

.features-content__item {
   text-align: center;
}
.features-content__icon {
   margin: 0 auto;
}
.features-content__head {
   font-size: 24px;
   font-weight: 900;
   text-transform: uppercase;
   color: #2d3033;
   margin: 51px 0 42px;
}
.features-content__text {
   color: #6c7279;
}

@media screen and (max-width: 1025px) {
   .features {
      padding: 78px 0 80px;
   }
   .features-content {
      column-gap: 20px;
      row-gap: 49px;
   }
   .features-content__icon {
      max-width: 85px;
   }
   .features-content__head {
      font-size: 18px;
      margin: 44px 0 22px;
   }
   .features-content__text {
      font-size: 14px;
   }
}

@media screen and (max-width: 560px) {
   .features-content {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media screen and (max-width: 450px) {
   .features {
      padding: 40px 0 35px;
   }
   .features-content {
      grid-template-columns: 1fr;
      row-gap: 41px;
   }

   .features-content__icon {
      max-width: 75px;
   }
   .features-content__head {
      font-size: 18px;
      margin: 36px 0 8px;
   }
}
