.ourteam-content {
   display: flex;
   gap: 30px;
   padding: 114px 20px;
}

.ourteam-content__item {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   h3 {
      color: $item-head-color;
      font-size: 24px;
      margin: 31px 0 6px;
      text-transform: capitalize;
   }

   h5 {
      color: $main-orange;
      text-transform: uppercase;
      font-weight: 400;
   }

   p {
      color: $item-description-color;
      margin: 17px 0 37px;
   }
}

.ourteam-content__links {
   display: flex;
   gap: 6px;
}

@media screen and (max-width: 1025px) {
   .ourteam-content {
      padding: 78px 20px;
   }
   .ourteam-content__item {
      h3 {
         font-size: 18px;
         margin: 27px 0 6px;
      }
      h5 {
         font-size: 14px;
      }
      p {
         font-size: 14px;
         margin: 22px 0 39px;
      }
   }
   .ourteam-content__links {
      gap: 5px;

      img {
         max-width: 32px;
      }
   }
}

@media screen and (max-width: 565px) {
   .ourteam-content {
      flex-direction: column;
      padding: 35px 20px 41px;
   }
   .ourteam-content__item {
      img {
         max-width: 280px;
         object-fit: cover;
         max-height: 227px;
      }
      p {
         margin: 38px 0 55px;
      }
   }
}
